<div class="calender-date-buttons-header">
  <div class="grid-container">
      <ion-col class="ion-text-center grid-item" *ngFor="let btn of buttons">
        <ion-button
          class="calender-date-buttons"
          expand="block"
          (click)="setDate(btn)"
          [ngClass]="{
            'selected-button': selectedButton === btn
          }"
        >
          {{buttonText[btn]}}
        </ion-button>
      </ion-col>
  </div>
</div>
<div *ngIf="mode.dayPicker">
  <div class="calendar-picker">
    <ion-grid>
      <ion-row class="ion-no-margin ion-no-padding">
        <ion-col class="ion-text-center">
          <ion-button
            fill="clear"
            (click)="selectPreviousMonth()"
            color="medium"
          >
            <ion-icon name="caret-back-outline"></ion-icon>
          </ion-button>
          <ion-button
            class="month-name"
            fill="clear"
            (click)="selectMode('monthPicker')"
            color="medium"
          >
            {{ date.format("MMMM YYYY") }}
          </ion-button>
          <ion-button fill="clear" (click)="selectNextMonth()" color="medium">
            <ion-icon name="caret-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="day-names">
        <ion-col *ngFor="let weekday of weekdays">
          {{ weekday.shortDay | titlecase }}
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="calendar">
      <ion-row *ngFor="let week of calendar">
        <ion-col
          class="day-in-month"
          *ngFor="let day of week.days"
          [ngClass]="{
            selected: isSelectedDate(day),
            'day-out-month': date.month() !== day.month() && date.year() !== day.year(),
            'calendar-disabled': day.disabled
          }"
          (click)="selectDate(day)"
        >
          {{ day.date() }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>

<div *ngIf="mode.monthPicker">
  <div class="month-picker">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button
            class="month-name"
            fill="clear"
            color="dark"
            (click)="selectMode('yearPicker')"
          >
            <ion-icon name="calendar-outline"></ion-icon>
            {{ date.format("YYYY") }}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let row of months">
        <ion-col class="ion-no-padding ion-no-margin" *ngFor="let col of row">
          <ion-button
            color="dark"
            fill="clear"
            expand="full"
            [ngClass]="{
              'month-year-selected': col.monthNumber === date.month()
            }"
            (click)="selectMonth(col.monthNumber)"
          >
            {{ col.monthName }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>

<div *ngIf="mode.yearPicker">
  <div class="years-picker">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button
            fill="clear"
            [disabled]="prevYearDisabled"
            (click)="selectPreviousYears()"
            color="medium"
          >
            <ion-icon name="caret-back-outline"></ion-icon>
          </ion-button>
          <ion-button class="month-name" fill="clear" color="medium">
            {{ firstYear }} - {{ lastYear }}
          </ion-button>
          <ion-button
            fill="clear"
            [disabled]="nextYearDisabled"
            (click)="selectNextYears()"
            color="medium"
          >
            <ion-icon name="caret-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let row of selectedYears">
        <ion-col class="ion-no-padding ion-no-margin" *ngFor="let col of row">
          <ion-button
            color="medium"
            fill="clear"
            expand="full"
            [ngClass]="{ 'month-year-selected': col === date.year() }"
            (click)="selectYear(col)"
          >
            {{ col }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>

<ion-footer>
  <div class="selected-date">
    <ion-icon
      slot="start"
      name="calendar-outline"
      aria-hidden="true"
      color="primary"
    ></ion-icon>
    <p *ngIf="selectedDate; else noDate">{{ selectedDate | date: 'mediumDate' }}</p>
    <ng-template #noDate><p>No date</p></ng-template>
  </div>
  <div class="action-button">
    <ion-button (click)="cancelModal()" fill="outline"> Cancel </ion-button>
    <ion-button (click)="dismissModal()"> Save </ion-button>
  </div>
</ion-footer>
