<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ employeeId ? 'Edit' : 'Add' }} Employee Details</ion-title>
    @if (employeeId) {
      <ion-buttons slot="end">
        <ion-button (click)="deleteEmployee(employeeId)">
          <ion-icon name="trash-outline" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-buttons>
    }
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="employee" (ngSubmit)="addEditEmployee()">
    <ion-item class="custom-input">
      <ion-input labelPlacement="stacked" placeholder="Employee name" formControlName="name">
        <ion-icon slot="start" name="person-outline" aria-hidden="true" color="primary"></ion-icon>
      </ion-input>
    </ion-item>
    @if (employee.get('name')?.invalid && (employee.get('name')?.dirty || employee.get('name')?.touched)) {
      <div>
        @if (employee.get('name')?.errors?.['required']) {
          <ion-text color="danger">Name is required.</ion-text>
        }
        @if (employee.get('name')?.errors?.['minlength']) {
          <ion-text color="danger">Name must be at least 3 characters long.</ion-text>
        }
      </div>
    }
    <ion-item class="custom-input">
      <ion-select formControlName="role" placeholder="Select role" label-placement="stacked" interface="action-sheet">
        <ion-select-option value="Product Designer">Product Designer</ion-select-option>
        <ion-select-option value="Flutter Developer">Flutter Developer</ion-select-option>
        <ion-select-option value="QA Tester">QA Tester</ion-select-option>
        <ion-select-option value=" Product Owner"> Product Owner</ion-select-option>
      </ion-select>
      <ion-icon name="briefcase-outline" slot="start" color="primary"></ion-icon>
    </ion-item>
    @if (employee.get('role')?.invalid && (employee.get('role')?.dirty || employee.get('role')?.touched)) {
      <div>
        @if (employee.get('role')?.errors?.['required']) {
          <ion-text color="danger">Role is required.</ion-text>
        }
      </div>
    }

    <div class="date-selector">
      <div class="date-container">
        <app-calender-input
          formControlName="startDate"
          placeholder="Start Date"
          [inputDateTime]="dateTime1"
          [id]="'date-picker'"
          (dateEvent)="date1Changed($event)"
          [buttonConfig]="startBtnConfig"></app-calender-input>

        @if (employee.get('startDate')?.invalid && (employee.get('startDate')?.dirty || employee.get('startDate')?.touched)) {
          <div>
            @if (employee.get('startDate')?.errors?.['required']) {
              <ion-text color="danger">Start Date is required.</ion-text>
            }
          </div>
        }
      </div>

      <ion-icon slot="start" name="arrow-forward-outline" aria-hidden="true" class="arrow-separator"></ion-icon>

      <div class="date-container">
        <app-calender-input
          formControlName="endDate"
          placeholder="End Date"
          [inputDateTime]="dateTime2"
          [min]="minDate"
          [id]="'date-picker'"
          (dateEvent)="date2Changed($event)"
          [buttonConfig]="endBtnConfig"></app-calender-input>
      </div>
    </div>

    <div class="form-action-buttons">
      <ion-button color="medium" [routerLink]="employeeId ? ['../../home'] : ['../']" routerLinkActive="router-link-active"
        >Cancel</ion-button
      >
      <ion-button color="primary" [disabled]="employee.invalid" type="submit">Save</ion-button>
    </div>
  </form>
</ion-content>
