
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Employee List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if (!employeeList.length) {
    <div class="no-employee-container">
      <img src="assets/no-emp.svg" alt="No records found" style="width: 150px; height: auto;">
      <p>No employee records found</p>
    </div>
  } @else {
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">
          Inbox
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-list>
      @for (message of employeeList; track message) {
        <app-message [message]="message"></app-message>
      }
    </ion-list>
  } 

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" [routerLink]="['/add']" routerLinkActive="router-link-active" >
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>