ion-fab-button::part(native) {
  border-radius: 15px;
}

.no-employee-container {
  text-align: center;
  margin-top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-default {
  text-align: left;
  padding: 15px 15px;
}

ion-list-header {
  --background: #f4f5f8;
  --color: var(--ion-color-primary);
}
